<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazonaws.youruserpools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.amazonaws.youruserpools.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.amazonaws.youruserpools.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.amazonaws.youruserpools.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="ISD  "
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".AddingAssertNumber"
            android:label="Enter Asset ID"
            android:parentActivityName=".mapActivity"
            android:windowSoftInputMode="stateHidden"
         ></activity>
        <activity android:name=".infoWindoEdit" />
        <activity
            android:name=".UnassignedEditData"
            android:label="Edit Assets"
            android:parentActivityName=".mapActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".UnassignedStation"
            android:label="Unassigned Assets"
            android:parentActivityName=".mapActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AssignedStation"
            android:label="Assigned Assets"
            android:parentActivityName=".mapActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AssignedMode"
            android:label="Assigned Assets"
            android:parentActivityName=".mapActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".UnassignedMode"
            android:label="Unassigned Assets"
            android:parentActivityName=".mapActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".StationList"
            android:label="STATION LIST"
            android:parentActivityName=".mapActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".editeColumeNumber"
            android:label="Enter/Edit Asset ID"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".splash"
            android:label="ISD"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/displyaResult" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6dGDjIx9GMeMJEsYiyGlNvmHxMBzHuso" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mapActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="MAP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailsAboutCompany"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_about_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StationLocation"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Assets View"
            android:parentActivityName=".mapActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CurrentLocation"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Assets View"
            android:parentActivityName=".mapActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".upDateDataBase"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".CurrentLocation" />
        <activity
            android:name=".AddingUnassignedAttribute"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Assets Attribute Data"
            android:parentActivityName=".UnAssignedData" />
        <activity
            android:name=".UnAssignedData"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Assets View Map"
            android:parentActivityName=".mapActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ReplaceNode" />
        <activity android:name=".ReplaceLatern"
            android:label="Edit Lantern Manufacture"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ReplaceColumn"
            android:label="Edit Asset Data"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".InstructionActivity" />
        <activity
            android:name=".emailActivity"
            android:label="@string/title_activity_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InfoWndow2" />
        <activity android:name=".StreetViewMap" />
    </application>

</manifest>