<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazonaws.youruserpools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.amazonaws.youruserpools.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.amazonaws.youruserpools.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.amazonaws.youruserpools.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="ISD  "
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Map_Alert_Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Assets Alerts"
            android:parentActivityName=".Map_Main_Activity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Map_All_Alert_Asserts"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Assets Alerts"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".Map_Main_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Enter_Assert_Number"
            android:label="Enter Asset ID"
            android:parentActivityName=".Map_Main_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Assign_info_Windo_Edit" />
        <activity
            android:name=".Map_Assigned_Activity"
            android:label="Assigned Assets"
            android:parentActivityName=".Map_Main_Activity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Map_Unassigned_Activity"
            android:label="Unassigned Assets"
            android:parentActivityName=".Map_Main_Activity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen_Activity"
            android:label="ISD"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/displyaResult" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6dGDjIx9GMeMJEsYiyGlNvmHxMBzHuso" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Login_Page"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Map_Main_Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="MAP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contact_Us_Page"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Information"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Spinner_Unassigned_Attribute"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Assets Attribute Data"
            android:parentActivityName=".Map_All_UnassignedData" />
        <activity
            android:name=".Map_All_UnassignedData"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Assets View Map"
            android:parentActivityName=".Map_Main_Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Replace_Node_Map"
            android:label="Replace Asset"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".Map_Assigned_Activity"/>
        <activity
            android:name=".Replace_Latern_Attribute"
            android:label="Edit Lantern Manufacture"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".Map_Assigned_Activity"/>
        <activity
            android:name=".Replace_Column_Attribute"
            android:label="Edit Asset Data"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".Map_Assigned_Activity"/>
        <activity android:name=".Video_Instruction_Activity"
            android:label="Instruction Video"
            android:parentActivityName=".Login_Page"/>
        <activity
            android:name=".Email_Activity"
            android:label="Email ISD"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".Map_Main_Activity"/>
        <activity android:name=".All_Assets_Info_Wndow" />

    </application>

</manifest>